<ion-view>
  <ion-tabs class="tabs-icon-top tabs-calm">
    
    <ion-tab title="Dashboard" icon="ion-home" href="#/tabs/dashboard">
      <ion-nav-view name="dashboard-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Loans" icon="ion-cash" href="#/tabs/loans">
      <ion-nav-view name="loans-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Savings" icon="ion-plus" href="#/tabs/savings">
      <ion-nav-view name="savings-tab"></ion-nav-view>
    </ion-tab>
    
  </ion-tabs>
</ion-view>