/* Empty. Add your own CSS if you like */
/*.item-divider{
	border-bottom: 1px;
	border-bottom: 1px;
	border-style: solid;
    border-color: #ff0000;
}*/
/*.item-text-wrap{
	height: 55px;
}*/
/*.loan{
	border-top: 1px;
	border-style: solid;
    border-color: #ff0000;
}*/

.detail-list{
  /*padding: 0 !important;*/
	border-top: 10px;
	border-style: solid;
	border-top-color: green;
	margin-top: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.detail-list .item-divider{
	border: 0 !important;
	font-size: 1.5em;
	background-color: white;
}

.detail-list .item-divider .badge{
	margin-top: -10px;
	margin-right: -25px;
}

.detail-list p{
	padding-left:20px;
	padding-top: 10px;
}
/*.color{
	height:10px;
	background-color: green;
}*/
.row{
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

.wrap{
	white-space: normal;
	word-break: break-all;
}

.error-ion{
	font-size: 50px;
	text-align: center;
	width:100%;
}

.error-div{
	position: relative;
	text-align: center;
}

.error-span{
	font-size: 15px;
	text-align: center;
	width:100%;
}

.item-divider .wrap{
	font-size: .9em;
}

